<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <style>
        .button {
            background-color: #8019a6;
            border: 7px solid #6f258a;
            color: white;
            padding: 20px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            align="center"
        }
    body {
    background:  #b881cc  ;
    padding: 10px;
    background-repeat: no-repeat;
    </style>
</head>
<body>
    <div id="header" >

        <h1 align="center">Главная страница<h1>
    </div>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/backup/';">Резервные копии</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/tariff/';">Тариф</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/receipt/';">Квитанции</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/conversation/';">Разговоры</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/client/';">Клиенты</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/user/';">Пользователи</button></p>
    <p align="center"><button class = 'button' onclick="window.location.href = 'http://127.0.0.1:8000/';">Выйти из аккаунта</button></p>

</body>
</html>

